*{
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  start  navbar    */
.nav{
    --bs-nav-link-color:black;
    
}

@media (max-width: 768px) { 
    .nav{
        display: none;
    }
 }
@media (min-width: 770px) { 
    .navbar-toggler{
        display: none;
    }
}

.user-actions {
    display: flex;
    align-items: center;
}

.login-register {
    margin-right: 20px;
    text-decoration: none;
    color: #777;
    font-size: 9px;
}

.icons {
    display: flex;
    align-items: center;
}

.icon {
    position: relative;
    margin-right: 20px;
}

.icon i {
    font-size: 18px;
    color: #000;
}

.badge {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 770px) { 
    .user-actions{
        display: none;
    }
}
/*   end navbar       */
/*  start section fashion     */
.fashion-section {
    display: flex;
     margin-top: 6%;
}

.fashion-item {
    position: relative;
    padding: 20px;
    color: #000;
    text-align: left;
}

.fashion-women {
    background-color: #F7E4E4;
    flex: 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-image: url('/asset/images/Item/fashion-womens.jpg');
    background-size: cover;
    background-position: center right;
}

.fashion-grid {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
}

.fashion-grid .fashion-item {
    flex: 1;
    min-width: calc(50% - 10px);
    margin: 5px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.fashion-mens {
    background-color: #DFF0E3;
    background-image: url('/asset/images/Item/fashion-mens.jpg');
    background-size: cover;
    background-position: center;
}

.fashion-kids {
    background-color: #E8E9FF;
    background-image: url('/asset/images/Item/fashion-kids.jpg');
    background-size: cover;
    background-position: center;
}

.fashion-cosmetics {
    background-color: #FFD4D4;
    background-image: url('/asset/images/Item/fashion-cosmetics.jpg');
    background-size: cover;
    background-position: center;
}

.fashion-accessories {
    background-color: #E2F3FF;
    background-image: url('/asset/images/Item/fashion-accessories.jpg');
    background-size: cover;
    background-position: center;
}

.fashion-item h2, .fashion-item h3 {
    font-family: "Cookie", cursive;
    font-size: 24px;
    font-weight: bold;
    color: #111111;
    margin-bottom: 10px;
}

.fashion-item p {
    font-size: 10px;
    margin-bottom: 20px;
    color: gray;
}

.shop-now {
    color: #111111;
    text-decoration: underline;
    text-decoration-color: #cc0000;
    font-size: 14px;
    font-weight: bold;
    
    display: inline-block;
    position: relative;
    font-weight: 600;

}
.fashion-women img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    z-index: 0;
}
.fashion-grid .fashion-item img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .fashion-section {
        flex-direction: column;
        margin-top: 9%;
    }
   
}
/*   end section fashion    */
/*   start  section product      */

.new-product-section{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    font-size: 14px; 
    list-style: none;
    color: #111111;
    position: relative;
    cursor: pointer;
}
.navbar-nav li{
      
        font-size: 11px;
        list-style: none;
        display: inline-block;
        color: #111111;
        margin-right: 35px;
        position: relative;
        cursor: pointer;
    
}
/*--------------------------*/
.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 10px;
}
.product-item {
    text-align: center;
}

.product-item img {
    width: 100%;
    height: auto;
}

.product-item .product-name {
    font-size: 16px;
    margin: 10px 0;
}

.product-item .price {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.product-item .label {
    font-size: 10px;
    color: #ffffff;
    font-weight: 500;
    display: inline-block;
    padding: 2px 8px;
    text-transform: uppercase;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;

    
}

.product-item .new {
    background-color: #36a300;
}

.product-item.out-of-stock .label {
    background-color: #333;
}
.product-item .stars {
    color: #f5c518;
}
.product-item.sale .label {
    background-color: #e20505;
}
.product-item .sale-pric {
    font-size: 14px;
    color: #b1b0b0;
    text-decoration: line-through;
    margin-left: 4px;
}
.product-item .in-sale {
    display: contents;
    color: #e20505;
}

/*  End section product        */

/*  <!-- this sec  for cards img-->       */
.showcase1 {
    text-align: center;
    color: white;
    padding: 50px 0;
    background-color: black;
    
}

.productCarosel{
    padding: 50px;
    left: 200px;
}
.lastProducts{
    margin-bottom: 30px;
    margin-left: 30%;
    color: #000;
    font-family: "Cookie", cursive;
    font-size: 30px;
    font-weight: 600;
}
.card-wrapper{
    display: flex;
    gap: 40px;

}
.card-wrapper .card{
    border: none;
    cursor: pointer;
}
.card h3{
    color: #000;
    font-family: var(--mainFont), Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.card:hover{
    h3{
        color: #c3a376;
    };
}
.productCarosel{
    position:relative;
}
.productCarosel .carousel-control-prev{
    position: absolute;
    left:-150px;
    top: 50%;
    height: 50px;
}
.productCarosel .carousel-control-next{
    position: absolute;
    right:-150px;
    top: 50%;
    height: 50px;
}
.card-img, .card-img-top {
    width: 131px;
}

.productCarosel{
    display: grid;
    width: 60%;
    height: 60%;
}
.text-center a{
    font-size: 20px;
    color: red;
    border-bottom: inset;
}
/*  <!-- this sec  for cards img-->       */

/*start time sec*/
.sale-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: white;
}

.image-container {
    flex: 1;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.countdown-container {
    flex: 1;
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.countdown-container h2 {
    font-size: 10px;
    margin-bottom: 10px;
    color: #111111;
    font-weight: 500;
    text-transform: uppercase;
}

.countdown-container h1 {
    font-size: 2.5em;
    font-family: "Cookie", cursive;
    color: #E60000;
    margin-bottom: 20px;
}

.countdown-container p {
    font-size: 12px;
    color: #333;
    margin-bottom: 30px;
}

.countdown-container p span {
    font-weight: bold;
    color: #E60000;
}

.countdown {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 30px;
}

.countdown div {
    text-align: center;
}

.countdown div span {
    display: block;
    font-size: 2em;
    font-weight: bold;
}

.shop-now {
    
    
    border-radius: 5px;
    
    font-size: 10px;
    text-transform: uppercase;
}

.shop-now:hover {
    background-color: #cc0000;
}
@media (max-width: 766px){
    .sale-section{
        display: block;
    }
}

/*end time sec*/

/*start support sec*/
.support-icon{
    margin-top: 20px;
}
.text-center .col h6{
    display: inline;
    margin-left: 20px;
    font-size: 13px;
    color: #111111;
    font-weight: 600;
    margin-bottom: 5px;

}
.text-center .col p{
    margin-left: 30%;
    font-size: 10px;
    font-family: "Montserrat Alternates", sans-serif;
    color: #666666;
    font-weight: 400;
    line-height: 24px;
    
}

/*end support sec*/
/*start card instagram sec*/
.images-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.image-container {
    position: relative;
    width: 300px;
    height: 300px;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
    
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background: rgba(0, 0, 0, 0.6); 
    
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-container:hover .overlay {
    opacity: 1;
}

.instagram-icon i {
    width: 50px;
    height: 50px;
    filter: invert(1); 
    font-size: 30px;
    color: #0d0d0d;
}

/*end card instagram sec*/
/*start footer sec*/

.footer {
    margin-bottom: 20px;
    background-color: #fff;
    
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 15px;
    font-size: 10px;
}

.footer-section {
    flex: 1;
    min-width: 220px;
}

.footer-section.about h1.logo-text {
    font-size: 24px;
    font-weight: 700;
    color: #333;
}

.footer-section.about p {
    color: #777;
    margin: 20px 0;
    line-height: 1.8;
}

.footer-section h2 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #333;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    text-decoration: none;
    color: #777;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #333;
}

.payment-icons img {
    width: 40px;
    margin-bottom: 10px;
}

.newsletter form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.newsletter input[type="email"] {
    padding: 10px;
    border: 1px solid #ddd;
    width: 70%;
    border-radius: 20px;
    outline: none;
}

.newsletter .subscribe-btn {
    padding: 10px 20px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
}

.newsletter .subscribe-btn:hover {
    background-color: #c0392b;
}

.social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #eee;
    margin-right: 10px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #333;
    transition: background-color 0.3s;
}

.social-icons a:hover {
    background-color: #e74c3c;
    color: #fff;
}

/*end footer sec*/